<!DOCTYPE html>
<html>

<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/socket.io/client-dist/socket.io.min.js"></script>
    <!--<script src="{{ url_for('static', filename='script.js') }}"></script>-->
        <!-- Import axios, which makes HTTP requests in JS a little easier-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"
            integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Ai</title>
</head>

<body>
    <h1>Ai</h1>
        
    <ul id="curRespo"></ul>


    <p>Last input: <span id="lastInput"></span></p>
    <!--
    <form action="/ai" method="post">
        <input type="text" name="user_input" placeholder="Enter your message">
        <input type="submit" value="Send">

 
    </form>
    -->

    <input type="text" id="user_input" />
    <button id="submit">Submit</button>

    
    <script>
        const userInputField = document.getElementById('user_input');
        const submitButton = document.getElementById('submit');

            
                    submitButton.addEventListener('click', () => {
                            console.log("clicking")
                            const userInput = userInputField.value;
                            axios.post('/api/datapoint3', { user_input: userInput })
                                .then(response => {
                                    // Do something with the response data
                                    console.log(response.data);
                                })
                                .catch(error => {
                                    console.error(error);
                                });
                    });


    </script>
</body>

</html>