<!DOCTYPE html>
<html>

<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/socket.io/client-dist/socket.io.min.js"></script>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

    <title>Chat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript">
    
    </script>
</head>

<body>
    <h1>Welcome to the Chat Page</h1>
    <h1><i class="material-icons">favorite</i> Material Icons in Flask</h1>
    <button id="btnOne">Click ME!</button>
    <button id="btnTwo">Time in JS</button>

    <ul id="currentTime"></ul>
    <ul id="currentTimePy"></ul>

    <ul id="currentTranscription"></ul>

    <a href="{{ url_for('routes.index') }}">Go Home</a>


    <div class="p-pressed" style="display: none;">REC in Progress!!!</div>






    <form action="/read_input" method="post">
        <button type="submit">Click me!</button>
    </form>


    <form action="/send_text" method="post">
        <input type="text" name="text" placeholder="Enter text...">
        <button type="submit"><i class="fa fa-arrow-right"></button>
    </form>




    <script>
        // Call the function every second to update the time
        setInterval(displayCurrentTime, 1000);
        btnTest()
        btnTest2()
        readFromPy()
        btnPPressed()
        readTranscription()
        readResponse()  
        
    </script>


</body>

</html>