<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/socket.io/client-dist/socket.io.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Chat With History</title>
</head>

<body>


    <div class="container mt-4">
        <h1 class="chat-header">Chat With History</h1>
        <div class="chat-container">
            <ul id="message-list" class="list-group">
                <li class="list-group-item message_user">Hello, how are you?</li>
                <li class="list-group-item message_ai">I'm good, thank you! How can I assist you today?</li>
                <li class="list-group-item message_user">Can you tell me a joke?</li>
                <li class="list-group-item message_ai">Sure! Why don't scientists trust atoms? Because they make up
                    everything!</li>
                <li class="list-group-item message_user">That's a good one! What's the weather like today?</li>
                <li class="list-group-item message_ai">It's sunny with a chance of rain later in the afternoon.</li>
                <li class="list-group-item message_user">Great, I'll take an umbrella just in case.</li>
                <li class="list-group-item message_ai">That's a smart choice!</li>
                <li class="list-group-item message_user">Thanks for the help!</li>
                <li class="list-group-item message_ai">You're welcome! Have a great day!</li>
            </ul>
            <div class="input-group mt-">
                <input type="text" id="message-input" placeholder="Type a message... or hold 'pause' btn vor voice command" class="form-control">
                <div class="">
                    <button class="btn btn-primary send-button"></button>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
    <script>
        btnPressed()
        readTranscription()
        //tts_axios()
        tts_fetch()
    </script>
</body>

</html>